[submodule "frontend"]
	path = frontend
	url = https://github.com/stevmwhitfield/chawla-media-2.git
[submodule "backend"]
	path = backend
	url = https://github.com/stevmwhitfield/chawla-media-2-cms.git